.main-logo {
    background-image: url('https://i.pinimg.com/736x/03/59/07/0359071bb27fb7c9e503bd1e39dce4b2.jpg'); /* ganti linknya */
    background-size: cover; /* biar nutup penuh */
    background-position: center; /* biar posisinya di tengah */